// banner section styles
.banner{
    background-color: $banner-color;
    padding: {
        top:1rem;
        bottom:1rem;
    }
    .header-navbar{
        li{
            margin-left:1rem;
            a{
                text-decoration: none;
                color:$white-color;
                margin-right:1rem;
            }
        }
    }
    address{
        a{
            color:white;
            text-decoration: none;
            margin-right:1rem;
        }
    } 
    
}
.nav-bar{
    background-color: $navbar-bg;
    .brand strong{
        color:$banner-color;
        font: {
            weight:800;
            size:2rem;
        }
        span{
            color:$darktext-color;
            font: {
                weight:900;
                size:2rem;      
            }
        }
    }
    ul li{
        
        &:hover{
            background-color: $activebtn-color;
            a{
                color: rgb(223, 223, 223) !important;
            }
        }
    }
    li{
        
        padding:2rem 1rem 2rem 1rem;
        font: {
            size:1.2rem;
            weight:600;
        }
        a{
            i{
                margin-left:0.5rem;
            }
            text-decoration: none;
            color:$darktext-color;
        }
        
    }   
    .dropdown-box{
        position:relative;
    }
    .dropdown-box:hover .dropdown-menu{
        display: inline-block;
        transform: translateX(-45%);
    }
    .dropdown-menu{
        background-color: rgb(168, 168, 168);
        position:absolute;
        top:5.5rem;
        width:13rem;
        display:none;
        z-index:99;
        box-shadow:2px 2px 5px 1px rgb(36, 36, 36);
    }
    .dropdown-menu li{
        padding:1rem;
    }
    .dropdown-menu a{
        margin-left:0.5rem;
        text-decoration: none;
        color:$darktext-color!important;
        font-weight: 500;
    }
}
.hero-section{
    position:relative;
    font-weight:900;

    .figure{
        background: {
            image: url("../media/banner-1.jpg");
            size: 100%;
            position: center;
            repeat: no-repeat;
        }
        padding:20rem;
        article{
            position:absolute;
            top:13rem;
            left:22rem;
            
        }
        h1{
            text-transform:uppercase;
            font-size:3.5rem;
            width:70%;
            font-weight:900;
        }
        h3{
            text-transform:capitalize;
            font-weight:600;
            padding:1.5rem 0rem;
            font-size:1.2rem;
        }
        .hero-btn{
            @include btn($banner-color,$white-color);
        }
    }
}
.services-section{
    padding: 7rem 0;
    .article-section{
        img{
            width:5rem;
            margin: {
                top:1.5rem;
            }
        }
        .box{
            margin-top: 5rem;
            border:1px solid rgb(228, 228, 228);
            border-radius: 1rem;
            padding:1.5rem;
            
            h3{
                padding:1rem 0rem;
                font-size: 1.5rem;
                color:$darktext-color;
                font-weight:700;
            }
            .article-btn{
                margin: {
                    top:1rem;
                    bottom:1rem;
                }
                border:1px solid $banner-color!important;
                @include btn($white-color,$banner-color);
            }
        }
    }
    h2,p{
        text-align:center;
    }
   
}
.solutions-section{
    padding:7rem 0;
    p{
        width:60%;
    }
    background-color: $solutions-bg;
    .solutions-btn{
        @include btn($white-color,$banner-color);
        border:1px solid $banner-color!important;
    }
   
}
.team-section{
    padding:7rem 0rem 10rem 0rem;
    .team-article {
        i{
            color:red;
            font-size:3rem;
        }
        h2{
            text-align: center;
            
        }
    }
    figure img{
        width:100%;
    }
    p{
        text-align: center;
        line-height: 1.5;
    }
    .team-btn{
        @include btn($white-color,$banner-color);
        border:1px solid $banner-color!important;
    }
    .team-logo{
        padding: {
            bottom:2rem;
        }
    }
}
.red-section{
    padding:3rem 0;
    background-color: $banner-color;
    h3{
        color:$white-color;
        font-size: 1.4rem;
        padding:0.5rem 0;
    }
    h4{
        color:$white-color;
        font-size: 1.0rem;
    }
    .red-btn{
        @include btn($banner-color,$white-color);
        border:1px solid $white-color!important;
    }
}
.industry-section{
    padding: {
        top:7rem;
    }
    .industry-image img{
        width:100%;
    }
}
.clients-section{
    padding:7rem 0;
    background-color:$clients-bg;
    .sub-headings{
        text-align: center;
    }
    figure img {
        width:8rem;
        filter:grayscale(100%);
        opacity: 0.3;
    }
    & figure img:hover{
        filter:grayscale(0%);
        opacity: 0.8;
    }
    article{
        padding:2rem 0 0 0;
    }
}
.footer-section{
    padding:5rem 0 2rem 0;
    background-color:$footerbg-color;
    color:$white-color;
    address{
        ul li{
            margin:1rem 0;
            a{
                text-decoration: none;
                color:$footer-headings;
            }
            i{
                margin-right:0.5rem;
            }
        }
    }
    .footer-nav ul li{
        margin:1rem 0rem;
        color:$lighttext-color;
    }
    .footer-nav ul li:nth-child(1),address ul li:nth-child(1){
        font: {
            size:1.5rem;
            weight:600;
            color:$footer-headings !important;
        }
    }
    .icons li a i{
        color:$lighttext-color;
        font-size:1rem;
        margin-right:1rem;
    }
    small{
        padding:0.5rem 0;
        color:$lighttext-color
    }
    .last-heading {
        padding:2rem 0;
        color:$lighttext-color !important;
    }
}