$banner-color:#DD4745;
$activebtn-color:#E55D61;
$darktext-color:#1B1E24;
$lighttext-color:#81898F;
$footerbg-color:#343A40;
$white-color:#ffffff;
$navbar-bg:#F2F2F2;
$solutions-bg:#F8F9FA;
$clients-bg:#F8F9FA;
$footer-headings:#BDBDBD;